@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-variant: small-caps;
}

a {
    color: white;
    text
}